/* My Own Custom Styles to enhance the Start Bootstrap Theme */

/* Adjustments to Nav Menu and styling social menu breaker */
#social-menu {
	margin-top: 15px;
	color: #999;
}

/* Header Button Sizing for Mobile Repsonsive */
#header-buttons li {
	padding-top: 5px;
}

/* Background Section font color*/
#background {
	color: #fff;
}

/* Background colors for other section divs */
.bg-secondary {
	background-color: #4A677F;
}

/* Background Color for Footer area*/
.bg-third {
	background-color: #FF6761;
}

/* A little less padding for the footer area */
#contact {
	padding-top: 50px;
}

/* Changed the color of the social media icons in the footer so that they pop */
#footer-social-links a {
	color: #fff;
}
