/* My Own Custom Styles */

/* Adjustments to Nav Menu and styling social menu breaker */
#social-menu {
	margin-top: 15px;
	color: #999;
}

/* Header Button Sizing for Mobile Repsonsive */
#header-buttons li {
	padding-top: 5px;
}

/* Background Section font color*/
#background {
	color: #fff;
}

/* Background colors for other section divs */
.bg-secondary {
	background-color: #4A677F;
}

.bg-third {
	background-color: #FF6761;
}

#contact {
	padding-top: 50px;
}

#footer-social-links a {
	color: #fff;
}
